# env
.env

# ml
.zen
.zenconfig
mlruns

# data
data/

# python
__pycache__/
.venv/

# tests
.coverage*
.pytest_cache/
.mypy_cache/
htmlcov/
cov/

# various
.pdm.toml
__pypackages__/

# editors
.idea/
.vscode/