# infra
zenml_stack_recipes
keys

# ml
.zen
.zenconfig
mlruns
model

# data
data/

# python
__pycache__/
.venv/

# tests
.coverage*
.pytest_cache/
.mypy_cache/
htmlcov/
cov/

# various
.pdm.toml
__pypackages__/

# editors
.idea/
.vscode/